<html>
    <head>
        <meta charset="UTF-8"/>
        <title>
            {% block title %}

            {% endblock %}
        </title>
        <link rel="stylesheet" href ="{{url_for('static',filename='css/style.css')}}">
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <div class="header">
                    <div class="list-item">
                        <div class="tableau-logo">
                            <a href="#">
                                <img src="{{url_for('static', filename='tableau_logo.png')}}" alt="" class="icon" width = "35" height = "35">
                            </a>
                        </div>
                        <div class="tableau-tulisan">
                            <a href="#">
                                <img src="{{url_for('static', filename='tableau_tulisan.png')}}" alt="" class="icon" width = "140" height = "35">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="main">
                    {% block list_item %}

                    {% endblock %}
                </div>
            </div>
            <div class="main-content">
                <div id="menu-button">
                    <input type="checkbox" id="menu-checkbox">
                    <label for="menu-checkbox" id="menu-label">
                        <div id="hamburger">

                        </div>
                    </label>
                </div> 
            </div>
            <script>
                const menu = document.getElementById('menu-label');
                const sidebar = document.getElementsByClassName('sidebar')[0];

                menu.addEventListener('click', function() {
                    sidebar.classList.toggle('hide');
                });
            </script>
            
                {% block dashboard %}

                {% endblock %}
        </div>
       
    </body>
</html>