<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login_style.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
</head>
<body>
   <div class="box">
    <div class="over-top">
        <header>Welcome to Data Viz Dashboard Collection</header>
    </div>
    <div class="container">
        <div class="top">
            <span>{{ msg }}</span>
            <header>Login</header>
        </div>
        <form action="{{ url_for('login')}}" method="post" autocomplete="off">
            <div class="input-field">
                <input type="text" name="username" class="input" placeholder="Enter your username" id="username">
                <i class='bx bx-user' ></i>
            </div>
    
            <div class="input-field">
                <input type="Password" name="password" class="input" placeholder="Enter your password" id="password">
                <i class='bx bx-lock-alt'></i>
            </div>
    
            <div class="input-field">
                <input type="submit" class="submit" value="Login" id="">
            </div>
        </form>
        <!--<div class="two-col">
            <div class="one">
               <input type="checkbox" name="" id="check">
               <label for="check"> Remember Me</label>
            </div>
            <div class="two">
                <label><a href="#">Forgot password?</a></label>
            </div>
        </div>-->
    </div>
</div>  
</body>
</html>