<!DOCTYPE html>
<html>
    <head>
        <title>
            Da Viz - Dashboard List
        </title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/home_style.css')}}">
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <div class="header">
                    <div class="list-item">
                        <div class="tableau-logo">
                            <a href="#">
                                <img src="{{url_for('static', filename='tableau_logo.png')}}" alt="" class="icon" width = "35" height = "35">
                            </a>
                        </div>
                        <div class="tableau-tulisan">
                            <a href="#">
                                <img src="{{url_for('static', filename='tableau_tulisan.png')}}" alt="" class="icon" width = "140" height = "35">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="main">
                    {% if not isClient %}
                        <div class="list-item">
                            <a href="#">
                                <img src="{{url_for('static', filename='note_icon.png')}}" alt="" class="icon" style="width:30px; height:30px;">
                                <span class="description">Add new Dashboard</span>
                            </a>
                        </div>
                    {% endif %}
                    <div class="list-item">
                        <a href="{{url_for('logout')}}">
                            <img src="{{url_for('static', filename='logout_icon.png')}}" alt="" class="icon" style="width:30px; height:30px;">
                            <span class="description">Logout</span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="main-content">
                <div id="menu-button">
                    <input type="checkbox" id="menu-checkbox">
                    <label for="menu-checkbox" id="menu-label">
                        <div id="hamburger">

                        </div>
                    </label>
                </div> 
            </div>
            <script>
                const menu = document.getElementById('menu-label');
                const sidebar = document.getElementsByClassName('sidebar')[0];

                menu.addEventListener('click', function() {
                    sidebar.classList.toggle('hide');
                });
            </script>
            
            <div class="table-container">
                <h1 class="heading">Dashboard List</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Dashboard Name</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dashboard in dashboards %}
                        <tr>
                            <td data-label="dashboard-id">{{ dashboard.id }}</td>
                            <td data-label="dashboard-name">{{ dashboard.name }}</td>
                            <td data-label="#"><a href="{{url_for('embeddashboard', project_id = dashboard.project_id, dashboard_id = dashboard.id)}}" class="btn">Open Dashboard</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>